.fraction {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
}

.fraction_title {
  margin: 20px 0 10px 0;
}

.fraction_desc {
  margin: 12px 15px;
}

.tag {
  display: inline-block;
  margin: 5px 0 5px 16px;
  padding: 6px;
  background-color: #f6f7f9;
  color: #999999;
}
