body {
  margin: 0;
  font-family:'Roboto' ,'Noto Sans KR', 'sans-serif';
}

.organism {
  padding: 20px 0 20px 0;
}

.inline {
  display: inline;
}

.gray {
  color: #999999;
}

.blue {
  color: #034EDA;
}

.description {
  color: #676767;
}

.contents {
  margin: 12px 15px;
}

a {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #000;
}
a:focus {
  color: #000;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 한글 : NotoSansKR */
@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-Regular.woff") format("woff");
  font-style: normal;
}

/* 영문, 숫자 : Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v20-latin-regular.woff") format("woff");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  font-style: normal;
}