p {
  margin: 2px;
}

.bold {
  font-weight: bold;
}

.medium {
  font-weight: 550;
}

.txt_22 {
  font-size: 22px;
}

.txt_20 {
  font-size: 20px;
}

.txt_16 {
  font-size: 16px;
}

.txt_14 {
  font-size: 14px;
}

.txt_12 {
  font-size: 12px;
}
