p {
  margin: 2px;
}

.txt_22b {
  font-size: 22px;
  font-weight: bold;
}

.txt_20m {
  font-size: 20px;
  font-weight: 550;
}

.txt_16 {
  font-size: 16px;
}

.txt_14 {
  font-size: 14px;
}

.txt_12 {
  font-size: 12px;
}
