.title {
  margin: 40px 0 30px 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.large_title {
  font-size: 20px;
  font-weight: bold;
}

.medium_title {
  font-size: 16px;
  font-weight: normal;
}

.small_title {
  font-size: 14px;
  font-weight: normal;
}

.sub_title {
  font-size: 12px;
  font-weight: normal;
}
