.profile {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
}

.profile_info {
  margin: 30px 15px 20px 15px;
}

.profile_left {
  float: left;
}

.profile_right {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
