input[type='date']{
    border:none;
    font-size: 16px;
    font-weight: bold;
}

.datepicker_wrap{
    margin:0 auto;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    padding:10px 15px;
    box-sizing: border-box;
    min-width: 380px;
}
